@media only screen and (min-width: 60em) {
    
    main {
        width:75%;
        margin:auto;
    } footer {
        width: 75%;
        margin:auto;
        border-width: 3px 3px 0px 3px;
        border-style: groove;
        border-color: #383A3C;
    } header img {
        width: 100%;
    }
    /****************************Pancakes***********************************/
    #pancakes h2 {
        letter-spacing: .2rem;
        font-size: 100%;
    } 
/********************************Index**************************************/
.towns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text1 text2 text3" "pic4 pic5 pic6";
    grid-area: content;
  }
  /*
  .text1 { grid-area: text1; }
  
  .text2 { grid-area: text2; }
  
  .text3 { grid-area: text3; }
  
  .pic4 { grid-area: pic4; }
  
  .pic5 { grid-area: pic5; }
  
  .pic6 { grid-area: pic6; }
  */
}