/*******HEADER******/
.over-box {
    grid-template-columns: 300px 150px;
    top: 50vh;
    left: 50vw;
    right: 1em;
} h1,h2 {
    font-size: 1.5rem;
} 


/*******MAIN********/

 .summary-text p {
    font-size: 1.5rem;
}
