
/**colors**/

$white: #f8f9e5;
$purple: #301934;
$gold: #ffd700;
$maroon: #800000;
$tan: #d1a162;

/**font-stuff**/

$heading:'Josefin Sans', sans-serif;
$heading-weight:300;
$h3-size: 2rem;
$body:'Crimson Text', serif;




