@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 960px;
    }
    section:nth-child(1){
        display: block;
    }
    section:nth-child(2){
        grid-column: span 2;
    }
    img {
        max-width: 100%;
    }




}