@media only screen and (min-width: 32.5em) {
/***********************************Headings/Footer/Body******************************/
    h1{
        font-size: 2.5rem;
    } h2 {
        font-size: 1.5rem;
        border-bottom: 4px solid rgba(0,0,0,0.5);
        width: 99%;
    } h3 {
        font-size:1.3rem;
    } header {
        border-width: 3px 3px 0px 3px;
        border-style: groove;
        border-color: #383A3C;
        margin: 0 auto;
    } .special-heading {
        font-size: 2.5rem;
    } .text-addons {
        font-size: 1.2rem;
    }
    /*************************NAVIGATION BAR*****************************/
    .navigation {
        display: flex;
    } .navigation li {
        display: block;
        flex: 1 1 100%;
    } .navigation li:nth-of-type(1) {
        display: none;
    }
    /*********************Preston Page Specials**************************/
    .content {
        border-color: #888D91;
    } .summary-stats {
        top: 1.5rem;
        left: 3rem;
        padding: 1.5rem;
    } section.content {
        display: block;
    } article img {
        width: 100%;
    } #map {
        display: block;
    } #map img {
        border: 2px solid #383A3C;
        box-shadow: 0 0 10px #383A3C;
    }
/*******************Preston Grid Forecast/Upcoming*********************/
.grid-box {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'upcoming forecast';
} .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: forecast;
    justify-content: center;
    background: linear-gradient(#383A3C, #9BDBE8, #888D91);
    border: 3px outset #120D18;
    margin: .5em 0 .5em;
} .forecast section {
    text-align: center; 
    border: 1px solid #383A3C;  
} .forecast p {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    border-top: 3px solid #383A3C;
    padding: .5rem;
    color: #383A3C;
    text-shadow: .3px .3px #9BDBE8;
} .forecast h3 {
    color: #9BDBE8;
    text-shadow: 3px 3px #383A3C;
    margin: 0;
    border-bottom: 5px outset #383A3C;
    background-color: #120D18;
    letter-spacing: .1rem;
} .upcoming {
    grid-area: upcoming;
    border: 3px outset #120D18;
}
}